.mbarwrapper {
    display: none;
    padding: 0 1%;
    height: 5%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(30px) brightness(100%) contrast(100%);
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    margin: 0 9% 0 0;
}

.left {
    display: flex;
    align-items: center;
    height: 100%;
}

.mbarwrapper p {
    color: white;
    margin: 0 5%;
    font-weight: normal;
    font-size: 85%;
    line-height: 1;
    font-variant-numeric : tabular-nums;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.2);
    white-space: nowrap;
}

.mbarwrapper .apple {
    border-radius: 0.5vh;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 5%;
    height: 100%;
}

.apple p {
    font-weight: bold;
    font-size: 120%;
}

.spotter p {
    font-weight: bold;
    font-size: 100%;
}

.mbarwrapper .spotter {
    border-radius: 0.5vh;
    display: flex;
    padding: 0 15%;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 -5%;
    height: 100%;
}

.mbarwrapper .battery {
    padding: 0;
    margin: 0 4% 0 -2%;
    font-size: 120%;
    line-height: 0.8;
}

.mbarwrapper .icon {
    padding: 0;
    margin: 0 4%;
    font-size: 120%;
    line-height: 0.8;
}